body {
    background-color:  #E1E8F0;
    font-family: Arial, sans-serif;
}

img {
    padding-left: 25%;
    width: 50%;
    height: 50%;
}

input {
    width: 5%;
}

#title {
    font: 700 2.5em Arial;
    text-align: center;
    padding-left: 10px;
    cursor: pointer;
    transition: color 0.5s ease;
}
#title:hover {
    color: #41454d;
}


.submit {
    background-color: #E1E8F0;
    color: black;
    font-size: 1em;
    cursor: pointer;
    width: 90%;
    margin-top: 20px;
    /* Center the text within the button */
    text-align: center;
    /* Make the button a block element and center it */
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0;
    border-radius: 5px;
    border: none;
    /* Add a subtle hover effect */
    transition: background-color 0.3s ease;
}

.submit:hover {
    background-color: #D0D7E0;
}

form {
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: whitesmoke;

    /* center the form */
    width: calc(50% - 40px);
    margin: 20px 20px 20px 25%;

    /* center the fields */
    display: flex;
    flex-direction: column;
}

.answers {
    width: 50%;
    border: 1px solid black;
}

.form-modifier {
    display: inline-block;
    width: 12.5%;
    margin-top: 10px;
    margin-left: 25%;
    border: 1px solid black;
}
#add-question {
    width: 25%;
    margin-top: 10px;
    margin-left: 37.5%;
    border: 1px solid black;
}

label {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 3px 0px;
}

.question-umbrella {
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px 0;
    padding: 0 10px;
    background: #ededed;
}

.answer-umbrella {
    border: 1px solid lightgray;
    box-shadow: gray 0 0 10px;
    margin: 10px 0;
    padding: 0 10px;
}


.graph-container {
    max-width: max(100vh, 50%);
    border: 1px solid black;
    margin: 0 auto 10px;
    border-radius: 10px;

    background: whitesmoke;
}
.graph-umbrella {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    border-radius: 0 0 10px 10px;
}
.graph-question {
    text-align: center;
    display: block;
}

.type-buttons {
    display: flex;
    justify-content: space-around;
    margin: 10px 0 10px 5%;
    width: 90%;
}
